html{
    background-image: url("../img/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
body{
  text-align: center;
  font-family: "Georgia";
  background-color: rgba(255, 255, 255, 0.75);
  margin: 5%;
  padding: 1%;
  padding-top: 2%;
  border-radius: 20px;
}
li{
  list-style-type: none;
  padding: none;
}
h1{
  font-weight: bold;
  color: #474747;
  text-shadow: 0px 1px 0px white, 0px -1px 0px black;
  background-color: #a0a0a0;
  border-radius: 15px;
  box-shadow: 0px 3px  5px #5e5e5e;
  margin-bottom: 10px;
}
.btn{
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
.name{
  margin-left: 37%;
  width: 25%;
  box-shadow: 0px 1px 3px #5e5e5e;
}
#htmlResult{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #95f4ab;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#phpResult{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #95f4ab;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#javaResult{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #95f4ab;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#rubyResult{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #95f4ab;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#cSharpResult{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #95f4ab;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#resultsHeader{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #d99ef7;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#phpInfo{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#htmlInfo{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#javaInfo{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#rubyInfo{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#cSharpInfo{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#question1{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#question2{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#question3{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#question4{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}
#question5{
  background-color: rgba(237, 237, 237, .75);
  border: 1px solid #5bc0de;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #5e5e5e;
  margin-bottom: 10px;
}

/* Individual elements hidden for js to show at correct intervals. */
#resultsHeader{
  display: none;
}
#resultsButtons{
  display: none;
}
#phpInfo{
  display: none;
}
#htmlInfo{
  display: none;
}
#javaInfo{
  display: none;
}
#rubyInfo{
  display: none;
}
#cSharpInfo{
  display: none;
}
#nameError{
  color: red;
}
#question1{
  display: none;
}
#q1Error{
  color: red;
}
#question2{
  display: none;
}
#q2Error{
  color: red;
}
#question3{
  display: none;
}
#q3Error{
  color: red;
}
#question4{
  display: none;
}
#q4Error{
  color: red;
}
#question5{
  display: none;
}
#q5Error{
  color: red;
}
#htmlResult{
  display: none;
}
#javaResult{
  display: none;
}
#phpResult{
  display: none;
}
#cSharpResult{
  display: none;
}
#rubyResult{
  display: none;
}
