body{
  text-align: center;
  font-family: "Georgia";
}
li{
  list-style-type: none;
  padding: none;
}

#nameError{
  color: red;
}
#question1{
  display: none;
}
#q1Error{
  color: red;
}
#question2{
  display: none;
}
#q2Error{
  color: red;
}
#question3{
  display: none;
}
#q3Error{
  color: red;
}
#question4{
  display: none;
}
#q4Error{
  color: red;
}
#question5{
  display: none;
}
#q5Error{
  color: red;
}
#htmlResult{
  display: none;
}
#javaResult{
  display: none;
}
#phpResult{
  display: none;
}
#cSharpResult{
  display: none;
}
#rubyResult{
  display: none;
}
